SettingsConfigAsset (
    mouse_speed: 0.001,
    camera_pos: Vec3(0, 8., 8.),
    camera_look_at: Vec3(0, 0., -1.),
    body_scale: 2.,
    body_mass: 3.1e11,
    satellites: [
        SatelliteConfig(
            scale: 0.5,
            initial_pos: Vec3(-1.5, 0., -4.5),
            initial_vel: Vec3(-1.2, 0., 1.1),
        ),
        SatelliteConfig(
            scale: 0.5,
            initial_pos: Vec3(1.5, -1.5, -4.5),
            initial_vel: Vec3(1.4, 0., 1.1),
        ),
        SatelliteConfig(
            scale: 0.5,
            initial_pos: Vec3(0., 0., 1.75),
            initial_vel: Vec3(4.5, 0., 0.),
        ),
        SatelliteConfig(
            scale: 0.5,
            initial_pos: Vec3(0., 0., 1.5),
            initial_vel: Vec3(5.4, 0., 0.),
        ),

        SatelliteConfig(
            scale: 0.5,
            initial_pos: Vec3(0., 0., 2.),
            initial_vel: Vec3(0., -3.5, 0.),
        ),
        SatelliteConfig(
            scale: 0.5,
            initial_pos: Vec3(0., 2., 0.),
            initial_vel: Vec3(3.5, 0., 0.),
        ),
    ],
)
