SettingsConfigAsset (
    mouse_speed: 0.001,
    camera_pos: Vec3(0, 8., 6.),
    camera_look_at: Vec3(0, 0., -2.),
    body_scale: 2.,
    sat_scale: 0.5,
    body_fac: 2.5,
    o0_ecc: 0.0,
    o0_initial_vel: Vec3(4., 0., 0.),
    o1_ecc: 0.4,
    o1_initial_vel: Vec3(5.6, 0., 0.),
    o2_ecc: 0.8,
    o2_initial_vel: Vec3(7.2, 0., 0.),
    o3_ecc: 1.,
    o3_initial_vel: Vec3(8., 0., 0.),
)
